.advantage{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 53px;
  width: $with-content;
}

.advantageList
{
  display: flex;
}

.advantageItem {
display: flex;
min-width: 254px;
  &:not(:last-child) {
      margin-right: 30px;
    }
}
    
.titleAdvantage {
  margin-bottom: 15px;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 1.4;
}

.decriptionAdvantage {
  text-align: justify;
  font-size: 15px;
  line-height: 1.46;
}

.advantageText {
max-width: 210px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
