.certification {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  width: $with-content;
}

.boxCertification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.titleCertification {
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  content: "";
  height: 1px;
  border-right: 147px solid $background-accent;
}

.listCertification {
  margin-left: auto;
  margin-right: auto;
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.itemCertification{
  &:hover,
    &:focus {
      transform: scale(1.3);
    }

&:not(:last-child) {
margin-right: 100px;
}
}
