.contacts {
  position: relative;
  display: flex;
  text-align: inherit;
  align-items: baseline;
  justify-content: space-between;
  background: $background-accent;
}
.desktop {
display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
}

.boxContacts {
  @media screen and (max-width: $max-tablet){
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
  @media screen and (min-width: $desktop) {
padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: stretch;
  }
}

.listContacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
@media screen and (max-width: $max-mobile) {
  flex-direction: column;
  align-items: center;
}
    @media screen and (min-width: $desktop) {

    }
}

.itemContacts {
display: flex;
align-items: center;

@media screen and (max-width: $max-mobile) {
      display: -webkit-inline-box;
          text-align: center;
          display: flex;
            flex-direction: column;
      &:not(:first-child) {
          padding-top: 10px;
          border-top: 1px solid #fff;
        }
      &:not(:last-child) {
        padding-bottom: 10px;
      }
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet){
      &:not(:first-child) {
        padding-left: 50px;
        border-left: 1px solid #fff;
      }
    }
  @media screen and (min-width: $desktop) {
    
  &:not(:first-child) {
    padding-left: 136px;
    border-left: 1px solid #fff;
  }
  &:not(:last-child) {
    margin-right: 136px;
  }
}
}

.imageContacts{
margin-right: 10px;
 width: auto;
 height: fit-content;
  @media screen and (min-width: $desktop) {
  margin-right: 15px;
  }
}

.titleContacts {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $title-text-color;
  @media screen and (min-width: $desktop) {
  font-size: 20px;
  }
}

.textContacts {
display: flex;
flex-direction: column;
  font-size: 14px;
  line-height: 1.33;
  color: $title-text-color;
  @media screen and (min-width: $desktop) {
    display: block;
  font-size: 15px;
  }
}

.maps {
  display: none;
@media screen and (max-width: $max-mobile) {
display: block;
width: 200px;
height: 100px;
border: 0;
}
}
