.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #ECF0F5;
  @media screen and (max-width: $max-tablet){
  padding-top: 50px;
  padding-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
  padding-top: 73px;
  padding-bottom: 30px;
  }
}

.boxFooter {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #E1E6EC;
  @media screen and (max-width: $max-mobile) {
    flex-direction: column;
    align-items: stretch;
  }
  @media screen and (max-width: $max-tablet){
  padding-bottom: 45px;
  margin-bottom: 30px;
    }
  @media screen and (min-width: $desktop) {
  width: $with-content;
  flex-direction: row;
  padding-bottom: 68px;
  margin-bottom: 47px;
  }
}

.blocksFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
    &:last-child {
    margin-left: 125px;
    }
   @media screen and (min-width: $desktop) {
    &:last-child {
    margin-left: 370px;
   }
  }
}

.titleListFooter {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: $title-text-color;
  @media screen and (min-width: $desktop) {
 font-size: 20px;
  }
}

.imageFooter {
  margin-bottom: 33px;
  width: 161px;
}

.textFooter {
  width: 245px;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
    @media screen and (max-width: $max-mobile) {
    width: auto;
      }
}

.listFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.itemFooter {
 padding-top: 5px;
  transition: $transition-timing-function;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &:hover,
  &:focus {
     color: $revert-color-button;
}
}

.blockSocialsFooter {
display: flex;
flex-direction: row;
align-items: stretch;
}

.socialsIcon {
  margin-right: 12px;
  width: 32px;
  object-fit: contain;
}

.textFinishingFooter {
  font-size: $font-size-btn;
  line-height: 2.14;
 text-align: center;
}

.navFooter {
  margin-top: 15px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: baseline;
}
