.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $max-tablet){
    border-bottom: 1px solid #E1E6EC;
        }
    @media screen and (min-width: $desktop) {
        width: $with-content;
    }
}

.navigation {
    @media screen and (max-width: $max-mobile) {
            // position: fixed;
            // width: 100%;
            // top: 0;
            // left: 0;
            // z-index: 1;
            // display: flex;
        }
    @media screen and (min-width: $tablet) and (max-width: $max-tablet){
        position: relative;
        max-width: 100%;
        height: inherit;
     }
}

.nav-title {
    position: relative;
    width: 100%;
    z-index: 3;
    display: flex;
}

.logo {
    margin-right: auto;
    max-width: 540px;
    display: flex;
    align-items: center;
    color: $background-accent;
}
.menu {
    display: flex;
}

.site-nav {
 margin-left: auto;display: flex;
 align-items: center;
@media screen and (max-width: $max-mobile) {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

}

.site-nav .item:not(:last-child) {
@media screen and (max-width: $max-mobile) {
    margin-bottom: 40px;
        }
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    margin-right: 30px;
    }
@media screen and (min-width: $desktop) {
    margin-right: 45px;
   }
}

.site-nav .link {
    color: #575C74;
    position: relative;
    transition: $transition-timing-function;

    @media screen and (min-width: $tablet) and (max-width: $max-tablet){
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.current {
        color: $title-text-color;
        transition: $transition-timing-function;
    }

    &:hover,
    &:focus {
        color: $title-text-color;
        transform: scale(1.3);
    }

    &.current::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        bottom: -20px;
        border-radius: 2px;
        border-bottom: 2px solid $background-accent;

        @media screen and (min-width: $tablet) and (max-width: $max-tablet){
            bottom: 0;
        }
    }
}


