.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    max-height: 65px;
    // border-bottom: 1px solid #E1E6EC;
    @media screen and (min-width: $tablet) {
    }
}

.navigation {

    // @media screen and (max-width: $max-mobile) {
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     display: flex;
    // }

     @media screen and (min-width: $tablet) {
         position: relative;
         max-width: 100%;
         height: inherit;
     }
}

.nav-title {
    position: relative;
    width: 100%;
    z-index: 3;
        font-weight: 400;
            font-family: Open Sans;
            color: #575C74;
            font-size: 16px;
            line-height: 1.87;


    // @media screen and (min-width: $tablet) {
    //     margin-left: auto;
    // }

display: flex;
}
.logo {
    margin-right: 500px;
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.site-nav {
display: flex;
align-items: center;

    // @media screen and (max-width: $max-mobile) {
    //     display: flex;
    //     flex-direction: column;
    //     margin-bottom: 60px;
    // }
    
}

.site-nav .item:not(:last-child) {
    @media screen and (min-width: $tablet) {
        margin-right: 45px;
    }

    // @media screen and (max-width: $max-mobile) {
    //     margin-bottom: 40px;
    // }
}

.site-nav .link {
    position: relative;
    color: #575C74;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.current {
        color: #0C122D;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        color: #0C122D;
        transform: scale(1.3);
    }

    &.current::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        bottom: -20px;
        border-radius: 2px;
        border-bottom: 2px solid #FFB800;

        @media screen and (min-width: $tablet) {
            bottom: 0;
        }
    }
}
.btn {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 123px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnHeader {
    &:hover,
        &:focus {
            transform: scale(1.1);
        }
}

