.lastBlock {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
  width: $with-content;
  padding-bottom: 106px;
      }
}

.boxLastBlock {
display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.titleLastBlock {
  font-weight: $font-weight-bold;
  line-height: 1.04;
  color: $title-text-color;
  text-align: center;
  @media screen and (max-width: $max-tablet){
  margin-bottom: 20px;
  font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
  margin-bottom: 35px;
  font-size: $font-size-title-h2;
    }
}

.textLastBlock {
margin-bottom: 20px;
width: 590px;
display: flex;
justify-content: center;
text-align: center;
  @media screen and (max-width: $max-tablet) {
max-width: 420px;
  }
@media screen and (min-width: $desktop) {
margin-bottom: 35px;
  }
}




