.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $max-tablet){
    padding-top: 25px;
    padding-bottom: 40px;
        }
    @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 64px;
    width: $with-content;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
}

.content {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet){
padding-top: 50px;
width: 370px;
        }
        @media screen and (min-width: $desktop) {
        padding-top: 160px;
        width: 555px;
        }
}
.subTitle {
    max-width: 555px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
     line-height: 2.14;
    color: $background-accent;
@media screen and (max-width: $max-mobile) {
    margin-bottom: 5px;
    justify-content: center;
}
    @media screen and (min-width: $tablet) and (max-width: $max-tablet){
        margin-bottom: 15px;
    }
    @media screen and (min-width: $desktop) {
     margin-bottom: 30px;
    }
}

.title {
    max-width: 555px;
   font-weight: 700;
   line-height: 1.13;
   display: flex;
   align-items: center;  
  color: $title-text-color;
@media screen and (max-width: $max-mobile) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    text-align: center;
    }
@media screen and (min-width: $tablet) and (max-width: $max-tablet){
    margin-bottom: 15px;
    font-size: 58px;
    }

    @media screen and (min-width: $desktop) {
    margin-bottom: 35px;
    font-size: 72px;
    }
}

.description {
    max-width: 555px;
    text-align: justify;
    line-height: 1.5;
    @media screen and (max-width: $max-tablet){
    margin-bottom: 25px;
    }
        
    @media screen and (min-width: $desktop) {
    margin-bottom: 57px;
    }
}

.heroNavigation {
    display: inline-flex;
    @media screen and (max-width: $max-mobile) {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        }
}

.boxHero {
@media screen and (max-width: $max-mobile) {
display: none;
}
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 45.5%;
        }
}

.boxHeroMob {
    display: none;
@media screen and (max-width: $max-mobile) {
    display: block;
       width: 50%;
    }
}

.revertHero {
    @media screen and (max-width: $max-mobile) {
    margin-bottom: 10px;
}
}
