.makes {
  margin-left: auto;
  margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;

     @media screen and (min-width: $desktop) {
      padding-top: 80px;
      padding-bottom: 80px;
     }
}

.boxMake {
@media screen and (max-width: $max-mobile) {
 display: block;
  text-align: center;
  }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
  }

.itemMake {
display: flex;
@media screen and (max-width: $max-mobile) {
display: block;
}

@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  &:not(:last-child) {
  margin-bottom: 40px;
    }
  }
@media screen and (min-width: $desktop) {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}
}

.boxText {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.first .boxText {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    margin-left: 15px;
    }
    @media screen and (min-width: $desktop) {
    margin-left: 45px;
      }
  }

.second {
  flex-direction: row-reverse;
  .boxText {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      margin-right: 15px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 45px;
    }
  }
}

.imageMake {
  @media screen and (max-width: $max-mobile) {
      margin-bottom: 15px;
    }
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
width: 50%;
}
@media screen and (min-width: $desktop) {
  width: 570px;
}
}

.overlay-project .imageMake {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
width: 100%;}
}

.titleMake {
  max-width: 525px;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  line-height: 1.04;
  color: $title-text-color;
  @media screen and (max-width: $max-mobile) {
      margin-bottom: 15px;
    }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    margin-bottom: 15px;
    font-size: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 25px;
      font-size: $font-size-title-h2;
    }
}

.descriptionMake {
  max-width: 525px;
  font-weight: $font-weight-bold;
  text-align: justify;
    &:first-child {
      text-indent: 1em;
    }
        @media screen and (max-width: $max-mobile) {
          margin-bottom: 25px;
        }
}

.styleLastBoxMake {
  &:first-child {
    background-color: $primary-white-color;
    }
}

.lastDescriptionMake {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
  &:last-child {
    color: $primary-white-color;
     background-color: $revert-color-button;
  }
  
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  padding: 10px 20px;
  }
  @media screen and (min-width: $desktop) {
  padding: 0 30px;
  max-width: 285px;
  &:last-child {
  border-radius: 0px 20px 0px 0px;
  }
    }
}

.lastBoxMake {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow: hidden;
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  width: 50%;
  }       
}

.styleLastBoxMake {
  display: flex;
  height: 50%;
  @media screen and (max-width: $max-mobile) {
    display: block;
    }
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
  } 
}

.contactBoxMake {
padding: 0 40px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  background: $background-accent;
  border-radius: 0px 0px 20px 0px;
  @media screen and (max-width: $max-mobile) {
    padding: 20px 40px;
    display: block;
    border-radius: 0px 0px 20px 20px;
    }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding: 10px 20px;
    height: auto;
    }
  
}
.titleContactMake {
  margin-bottom: 5px;
  font-family: Rubik;
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 2.5;
    color: $title-text-color;
}

.contactDescriptionMake {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
  color: #000000;
}

.takeContact {
 width: 100%;
 display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
    @media screen and (max-width: $max-mobile) {
    display: block;
      }
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
}

.telBoxMakes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $max-mobile) {
    justify-content: flex-start;
    }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) { 
padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #fff;
  }
@media screen and (min-width: $desktop) {
padding-left: 39px;
border-left: 1px solid #fff;
}

}

 .callMake {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #000000;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
 }
.titleTelMakes {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: $revert-color-button;
}
.iconTel {
  margin-right: 13px;
  width: 46px;
  height: 46px;
  background:  center / contain no-repeat url(../images/phone.png);
}
