.menu-button {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
  color: #000;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu {
  @media screen and (max-width: $max-mobile) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    max-height: 453px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    border: 1px solid $revert-color-button;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    width: 100%;
  }
}
.svg-menu {
  fill: currentColor;
  color: #000;

  &:hover {
    color: $background-accent;
  }
}
