.overlay-project {
  position: relative;
  overflow: hidden;
  display: table;
  &:hover .overlay-text,
    &:focus .overlay-text {
    transform: translateY(0%);
    }
}

.overlay-text {
  position: absolute;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  margin: 0;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  overflow: hidden;
  transform: translateX(100%)matrix(-1, 0, 0, 1, 0, 0);
  box-sizing: border-box;
  color: $primary-white-color;
  background-color: $revert-color-button;
  transition: $transition-timing-function;
}
