.overlay-project {
  position: relative;
  overflow: hidden;
  display: table;
  &:hover .overlay-text,
    &:focus .overlay-text {
    transform: translateY(0%);
    }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  display: flex;
  width: 50%;
  }
}

.overlay-text {
  position: absolute;
  padding: 0 30px;
  margin: 0;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  overflow: hidden;
  transform: translateX(100%) matrix(-1, 0, 0, 1, 0, 0);
  box-sizing: border-box;
  color: $primary-white-color;
  background-color: $revert-color-button;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (max-width: $max-mobile) {
  padding: 0 10px;
  top: 46.7%;
  text-align: justify
  }
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding: 0 10px;
    top: 46%;
    width: 50%;
    height: 54%;
    }
}
