.reasons {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 23px;
  @media screen and (min-width: $desktop) {
      padding-bottom: 61px;
    }
  }

.boxReasons {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
align-items: stretch;
align-content: space-between;
justify-content: space-between;
  @media screen and (max-width: $max-mobile) {
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  }
  
}
.imageReasons {
 width: 50%;
 background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px 16px 16px 0px;
    @media screen and (max-width: $max-mobile) {
    margin-bottom: 15px;
    border-radius: 16px 16px 16px 16px;
    }
  @media screen and (min-width: $desktop) {
  width: 400px;
  }
}

.textBoxReasons {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
width: 48%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
}

}
.titleReasons {
  font-weight: $font-weight-bold;
  line-height: 1.04;
  color: $title-text-color;

  @media screen and (max-width: $max-tablet) {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
  margin-bottom: 25px;
  max-width: 650px;
  font-size: $font-size-title-h2;
    }
}

.descriptionReasons {
  text-align: justify;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  margin-bottom: 10px;
  font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
  max-width: 650px;
  margin-bottom: 35px;
  }
}

.listReasons {
display: flex;
flex-wrap: wrap;
@media screen and (max-width: $max-tablet) {
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: $desktop) {
width: 650px;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
}
}

.itemReasons {
  display: flex;
@media screen and (max-width: $max-mobile) {
&:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  &:not(:last-child) {
  margin-bottom: 8px;
  }
}
 @media screen and (min-width: $desktop) {
width: 312px;
  
  &:nth-last-child(n+3) {
    margin-bottom: 20px;
  }
  &:nth-child(odd) {
    margin-right: 25px;
  } 
 }
}

.itemIconReasons {
  
  @media screen and (max-width: $max-tablet) {
margin-right: 8px;
  width: 40px;
  height: 40px;
  }
@media screen and (min-width: $desktop) {
  margin-right: 18px;
  width: 56px;
  height: 56px;
}
}

.itemTitleReasons {
  margin-bottom: 2px;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 1.4;
 color: $title-text-color;
}

.itemDescReasons {
  font-weight: $font-weight-body;
  font-size: 15px;
  line-height: 1.46;
  text-align: justify;
}


