$primary-text-color: #212121;
$title-text-color: #757575;
$white-button-color: #ffffff;
$accent-button-color: #2196f3;
$focus-button-color: #188ce8;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f4fa;
$black-bgc: #2f303a;
$contacts-list-color: rgba(255, 255, 255, 0.6);
$border-header-color: #ececec;
$icon-color: #afb1b8;
$solid-border-color: #eeeeee;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-family-logo: "Raleway", sans-serif;
$font-family-body: "Roboto", sans-serif;
$font-size-btn: 16px;
$font-size-body: 14px;
$font-size-title-h2: 36px;
$mob-font-size-title-h2: 28px;
$font-weight-body: 400;
$font-weight-bold: 700;
$letter-spacing-body: 0.03em;
$letter-spacing-btn: 0.06em;
