$text-color: #575C74;
$title-text-color: #0C122D;
$white-button-color: #ffffff;
$background-button-color:blue;
$revert-color-button: #1B5FC1;
$primary-white-color: #ffffff;
$background-accent: #FFB800;
$box-shadow-button: 0px 10px 15px rgba(27, 95, 193, 0.19);
$transition-timing-function: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

$with-content: 1140px;
$font-family-body: "Open Sans", sans-serif;
$font-family-title: "Rubik", sans-serif;
$font-size-body: 16px;
$font-size-btn: 14px;
$font-size-title-h2: 48px;
$font-weight-body: 400;
$font-weight-bold: 700;

$mob-font-size-title-h2: 28px;
