<section class="advantage">
  <a name="About"></a>
  <ul class="list advantageList">
    <li class="item advantageItem">
      <!-- <svg class="iconStyle">
            <use class="iconStyle" href="../assets/svgSprite/box.svg"></use>
          </svg> -->
      <img class="icon" src="../assets/images/box.svg" alt="box" />
      <div class="advantageText">
        <h2 class="titleAdvantage">Full-Service Shipping</h2>
        <p class="decriptionAdvantage">
          From picking to custom-crating to domestic and international shipping,
          we handle it all for you.
        </p>
      </div>
    </li>
    <li class="item advantageItem">
      <img class="icon" src="../assets/images/checked.svg" alt="checked" />
      <div class="advantageText">
        <h2 class="titleAdvantage">Multi-Point Inspection</h2>
        <p class="decriptionAdvantage">
          To ensure quality, our team of HTM professionals fully assess and
          evaluate all equipment.
        </p>
      </div>
    </li>
    <li class="item advantageItem">
      <img class="icon" src="../assets/images/operator.svg" alt="operator" />
      <div class="advantageText">
        <h2 class="titleAdvantage">Professional Product Support</h2>
        <p class="decriptionAdvantage">
          If you have any questions about the equipment, our product specialists
          are here to help.
        </p>
      </div>
    </li>
    <li class="item advantageItem">
      <img
        class="icon"
        src="../assets/images/credit-card.svg"
        alt="credit-card"
      />
      <div class="advantageText">
        <h2 class="titleAdvantage">Secure and Easy Payment Methods</h2>
        <p class="decriptionAdvantage">
          Pay your way, whether by credit card, PayPal or the redemption of
          earned credits.
        </p>
      </div>
    </li>
  </ul>
</section>
