<section class="certification">
  <div class="boxCertification">
    <p class="titleCertification">Our Lab Certification</p>
    <ul class="listCertification">
      <li class="itemCertification">
        <a href="#"><img src="../assets//images/fda.png" alt="FDA" /></a>
      </li>
      <li class="itemCertification">
        <a href="#"><img src="../assets/images/nelson.png" alt="NELSON" /></a>
      </li>
      <li class="itemCertification">
        <a href="#"><img src="../assets/images/cnas.png" alt="CNAS" /></a>
      </li>
    </ul>
  </div>
</section>
