<section class="contacts">
  <div class="boxContacts">
    <ul class="listContacts">
      <li class="itemContacts">
        <img
          class="imageContacts"
          src="../assets/images/location.png"
          alt="address"
        />
        <a href="" class="textContacts">
          <span class="titleContacts">Address</span>
          123 5th Avenue, New York, US
          <iframe
            class="maps"
            hidden
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.037482521322!2d-73.99304888426998!3d40.739200743887416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a3b24b424f%3A0x618680d3f8c2f773!2zMTIzIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDAwMywg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1657658356982!5m2!1sru!2sua"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe
        ></a>
      </li>
      <li class="itemContacts">
        <img
          class="imageContacts"
          src="../assets/images/phone2.png"
          alt="call us"
        />
        <a href="tel:+11234445678" class="textContacts">
          <span class="titleContacts">Call Us</span>
          +1 123 444 5678</a
        >
      </li>
      <li class="itemContacts">
        <img
          class="imageContacts"
          src="../assets/images/mail.png"
          alt="email us"
        />
        <a href="mailto:info@example.com" class="textContacts">
          <span class="titleContacts">Email Us</span>
          info@example.com</a
        >
      </li>
    </ul>
  </div>
</section>
