<header class="header">
  <nav class="navigation">
    <div class="nav-title">
      <a href="./index.html" class="logo">MASKS</a>
      <div class="menu" id="menu" data-menu>
        <ul class="site-nav list">
          <li class="item">
            <a
              href="./index.html"
              class="link current"
              rel="noreferrer noopener"
              >Home</a
            >
          </li>
          <li class="item">
            <a href="#About" class="link" rel="noreferrer noopener">About</a>
          </li>
          <li class="item"><a href="#" class="link">Product</a></li>
          <li class="item"><a href="#" class="link">Contact</a></li>
          <li class="item"><a href="#" class="link">History</a></li>
          <li class="item">
            <button
              class="btn btnHeader"
              type="button"
              aria-expanded="false"
              aria-controls="menu-container"
              data-menu-button
            >
              Contact&nbsp;us
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
