<!DOCTYPE html>
<main class="main">
  <div class="hero">
    <div class="content">
      <p class="subTitle">3M N95 masks</p>
      <h1 class="title">
        Protective <br />
        Face Masks
      </h1>
      <p class="description">
        We offer the fast delivery wholesale selection of N95 masks and surgical
        masks, featuring FDA-approved quality and 2 – 5 days delivery, our
        wholesale face masks are ideal for influenza or novel coronavirus
        prevention.
      </p>
      <div class="heroNavigation">
        <button class="btn btnHero">Shop now</button>
        <button class="btn btnHero">Learn more</button>
      </div>
    </div>
    <div class="box overlay">
      <img class="image" alt="image" src="../assets/images/hero-desc.png" />
    </div>
  </div>
</main>
