<section class="reasons">
  <div class="boxReasons">
    <img
      class="imageReasons"
      src="../assets//images/reasons.png"
      alt="Reasons image"
    />
    <div class="textBoxReasons">
      <p class="titleReasons">Reasons To Choose Our Products</p>
      <p class="descriptionReasons">
All products of Health Pro have obtained the certifications issued by national specialized agencies and testing laboratories. <br>
They have also passed the quality inspection of several international famous testing institutions. We have absolute confidence that every product of Health Pro is a of the top quality.
      <ul class="listReasons">
        <li class="itemReasons">
          <img class="itemIconReasons" src="../assets//images/iconReasons1.png" alt="icon Reasons">
          <div class="itemBoxReasons">
            <p class="itemTitleReasons">Industry leader</p>
            <p class="itemDescReasons">If you have any questions about the equipment, our product specialists are here to help, specialists are here.</p>
          </div>
        </li>
            <li class="itemReasons">
          <img class="itemIconReasons" src="../assets//images/iconReasons2.png" alt="icon Reasons">
          <div class="itemBoxReasons">
            <p class="itemTitleReasons">Innovation 3 led development</p>
            <p class="itemDescReasons">If you have any questions about the equipment, our product specialists are here to help.</p>
          </div>
        </li>
            <li class="itemReasons">
          <img class="itemIconReasons" src="../assets//images/iconReasons3.png" alt="icon Reasons">
          <div class="itemBoxReasons">
            <p class="itemTitleReasons">To create a safer tomorrow for all</p>
            <p class="itemDescReasons">If you have any questions about the equipment, our product specialists are here to help.</p>
          </div>
        </li>
            <li class="itemReasons">
          <img class="itemIconReasons" src="../assets//images/iconReasons4.png" alt="icon Reasons">
          <div class="itemBoxReasons">
            <p class="itemTitleReasons">To protect and to improve living quality for all</p>
            <p class="itemDescReasons">If you have any questions about the equipment, our product specialists are here to help.</p>
          </div>
        </li>
      </ul>
      </p>
    </div>
  </div>
</section>
